@import 'tailwindcss';

@theme {
  /* Paleta change and code: fondo neón, negro, naranja, azul */
  --color-brand-yellow: #eeff00;
  --color-brand-black: #000000;
  --color-brand-orange: #ffa500;
  --color-brand-blue: #6a5acd;
}
